{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Aliex{% endblock %}

{% block content %}
<div class="container  mt-5 mb-5">
  <div class="product_card color-white">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="product_main_image">	
            <img src="{{ vich_uploader_asset(product, 'imageFile') ? vich_uploader_asset(product, 'imageFile'):asset('images/products/default-product_main_image.jpg') }}" id="product_main_product_image" width="350">
          </div>
          <div class="product_thumbnail_images">
            <ul id="product_thumbnail">
              <li><img onclick="changeImageProduct(this)" src="{{ asset('images/products/default-product_main_image.jpg') }}" width="70"></li>
              <li><img onclick="changeImageProduct(this)" src="{{ asset('images/products/default-product_main_image_sub0.jpg') }}" width="70"></li>
              <li><img onclick="changeImageProduct(this)" src="{{ asset('images/products/default-product_main_image_sub1.jpg') }}" width="70"></li>
              <li><img onclick="changeImageProduct(this)" src="{{ asset('images/products/default-product_main_image_sub2.jpg') }}" width="70"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 product_right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ product.name }}</h3>
            <span class="product_heart">
                <i class='bi bi-heart'></i>
            </span>	
          </div>
          <div class="mt-2 pr-3 product_content">
            <p class="fs-6 text-justify">{{ product.description }}</p>
          </div>
          <h3>$430.99</h3>
          <div class="product_ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">	
                <i class='bi bi-star-fill' ></i>	
                <i class='bi bi-star-fill' ></i>	
                <i class='bi bi-star-fill' ></i>	
                <i class='bi bi-star-fill' ></i>	
                <i class='bi bi-star' ></i>	
            </div>
            <span>441 reviews</span>	
          </div>
          <div class="mt-5">
            <span class="fw-bold">Color</span>	
            <div class="product_colors">
              <ul id="marker">
                <li id="marker-1"></li>
                <li id="marker-2"></li>
                <li id="marker-3"></li>
                <li id="marker-4"></li>
                <li id="marker-5"></li>
              </ul>
            </div>
          </div>
          <div class="product_buttons d-flex flex-row mt-5 gap-3">	
            <button class="btn btn-outline-dark">Acheter maintenant</button>
            <button class="btn btn-dark">Ajouter au panier</button>	
            {% if product.owner == app.user %}
              <a href="{{ path('app_edit_product',{'id':product.id}) }}"><button class="btn btn-dark">Modifier</button></a>
            {% endif %}	
          </div>
          {# <div class="product_search-option">
            <i class='bi bi-search product_first-search'></i>	
            <div class="inputs">	
                <input type="text" name="">	
            </div>
            <i class='bi bi-share product_share'></i>	
          </div> #}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
