{% extends 'back_base.html.twig' %}

{% block title %}Users | ADMIN - Aliex{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4 d-inline-block">Users</h1>
                <a class="btn btn-dark d-inline-block mt-4 float-end" href="{{ path('app_admin_users_add_admin') }}">Ajouter
                    un admin</a>
                <a class="btn btn-dark d-inline-block mt-4 float-end mx-1"
                   href="{{ path('app_admin_users_add_user') }}">Ajouter un utilisateur</a>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href={{ path('app_admin_index') }}>Dashboard</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        INFORMATIONS
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div>
                <!-- TABLES -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        UTILISATEURS
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Email</th>
                                {# <th>Roles</th> #}
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.email }}</td>
                                    {#                                    <td>
                                        {% if user.roles|length == 0 %}
                                            ROLE_USER
                                        {% else %}
                                            {% for role in user.roles %}
                                                {{ role }}
                                            {% endfor %}
                                        {% endif %}
                                    </td> #}
                                    {#                                    <td>{{ user.products }}</td>
                                    <td>{{ user.addresses }}</td> #}
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <a class="d-inline-block"
                                               href="{{ path('app_admin_users_edit', {'id': user.id }) }}">
                                                <span class="fa fa-pencil" style="font-size:22px; color: black"></span>
                                            </a>
                                            <form class="d-inline-block px-3" method="post"
                                                  action="{{ path('app_admin_users_delete', {'id': user.id }) }}"
                                                  onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet utilisateur ?');">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ user.id) }}">
                                                <button class="border-0 bg-transparent" style="font-size:22px"><span
                                                            class="fa fa-trash"></span></button>
                                            </form>
                                            {% if "ROLE_ADMIN" in user.roles == false %}
                                                <a class="d-inline-block"
                                                   href="{{ path('app_admin_users_ban', {'id': user.id }) }}"
                                                   onclick="return confirm('Êtes vous sûr de vouloir bannir/débannir cet utilisateur ?');">
                                                    <span class="fa fa-ban"
                                                          style="font-size:22px; color: {{ user.banned ? 'black' : 'red' }};"></span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- TABLES -->
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}